@import "tailwindcss";

:root {
  --primaria: #0000AA;
  --auxiliar-primaria: #000044;
  --sucesso: #00AA00;
  --erro: #DD0000;
  --auxiliar-erro: #770000;
  --fundo-geral: #FFFFFF;
  --texto-fundo-claro: #000000;
  --texto-fundo-escuro: #FFFFFF;

  --fonte: 'Roboto', sans-serif;

  --texto-pp: 0.5rem;
  --texto-p: 0.75rem;
  --texto-m: 1rem;
  --texto-g: 1.25rem;
  --texto-gg: 1.5rem;
  --texto-xgg: 1.75rem;

  --p: 0.5rem;
  --m: 1rem;
  --g: 1.5rem;
  --gg: 2rem;

  --sombra-card: 0 0 8px #00000025;
  --canto-card: 15px;

  --canto-botoes: 10px;

  --h-cabecalho: 70px;
}

body {
  background: var(--fundo);
  color: var(--texto-fundo-claro);
  font-family: var(--fonte);
  font-size: var(--texto-m);
  margin: 0;
  padding: 0;
}
