@import "tailwindcss";

:root {
  --primaria: #0000AA;
  --auxiliar-primaria: #000044;
  --sucesso: #00AA00;
  --erro: #DD0000;
  --auxiliar-erro: #770000;
  --fundo-geral: #FFFFFF;
  --texto-fundo-claro: #000000;
  --texto-fundo-escuro: #FFFFFF;

  --fonte: 'Roboto', sans-serif;

  --texto-pp: 0.5rem;
  --texto-p: 0.75rem;
  --texto-m: 1rem;
  --texto-g: 1.25rem;
  --texto-gg: 1.5rem;
  --texto-xgg: 1.75rem;

  --p: 0.5rem;
  --m: 1rem;
  --g: 1.5rem;
  --gg: 2rem;

  --sombra-card: 0 0 8px #00000025;
  --canto-card: 15px;

  --canto-botoes: 10px;

  --h-cabecalho: 70px;
}

body {
  background: var(--fundo);
  color: var(--texto-fundo-claro);
  font-family: var(--fonte);
  font-size: var(--texto-m);
  margin: 0;
  padding: 0;
}

.botao-primario {
  padding-left: var(--m);
  padding-right: var(--m);
  padding-top: var(--p);
  padding-bottom: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--primaria);
  color: var(--texto-fundo-escuro);
  font-size: var(--texto-m);
  border-width: 3px;
  border-style: solid;
  border-color: var(--fundo-geral);
}

.botao-primario:hover {
  cursor: pointer;
  background-color: var(--auxiliar-primaria);
}

.botao-primario:focus {
  border-width: 3px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.botao-secundario {
  padding-left: var(--m);
  padding-right: var(--m);
  padding-top: var(--p);
  padding-bottom: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--fundo-geral);
  color: var(--texto-fundo-claro);
  font-size: var(--texto-m);
  border-width: 1px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
  margin: 2px;
}

.botao-secundario:hover {
  cursor: pointer;
  background-color: var(--auxiliar-primaria);
  color: var(--texto-fundo-escuro);
}

.botao-secundario:focus {
  margin: 0;
  border-width: 3px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.botao-exclusao {
  padding-left: var(--m);
  padding-right: var(--m);
  padding-top: var(--p);
  padding-bottom: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--erro);
  color: var(--texto-fundo-escuro);
  font-size: var(--texto-m);
  border-width: 3px;
  border-style: solid;
  border-color: var(--fundo-geral);
}

.botao-exclusao:hover {
  cursor: pointer;
  background-color: var(--auxiliar-erro);
}

.botao-exclusao:focus {
  border-width: 3px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.input-select {
  padding: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--fundo-geral);
  color: var(--texto-fundo-claro);
  border-width: 1px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.input-text {
  padding: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--fundo-geral);
  color: var(--texto-fundo-claro);
  border-width: 1px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.input-number {
  padding: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--fundo-geral);
  color: var(--texto-fundo-claro);
  border-width: 1px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}

.input-data {
  padding: var(--p);
  margin: 0;
  border-radius: var(--canto-botoes);
  background-color: var(--fundo-geral);
  color: var(--texto-fundo-claro);
  border-width: 1px;
  border-style: solid;
  border-color: var(--texto-fundo-claro);
}